.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.movie-poster {
  height: 25rem;
  width: 20rem;
  object-fit: cover;
}

.movie-container {
  background-color: #61dafb;
  width: 20rem;
  border-radius: 0.6rem;
  overflow: hidden;
  margin: 0.3rem;
  height:min-content;


}

.movie-spece {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.movie-name {
  font-size: 24px;
  margin: 0;
  max-width: 70%;
}

body {
  margin: 5px;
}

.movie-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.counter-container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.likes-dislikes {
  font-size: 20px;
}
.movie-show-button{
    margin-bottom:12px;
    font-size:18px;
}

.add-color-form{
  display: flex;
  gap: 10px;
  /* width:30px */
  flex-direction: column;
    width: 200px;
}
.add-movie-form{
  margin-bottom:20px;
display: flex;
gap: 10px;
flex-direction: column;
width: 100% ;
}